@model EditOrder

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit a user</h1>

@* User!  *@

<form asp-action="Edit" asp-route-id="@Model.Id" method="post">


    <label asp-for="createOrder.Customer.FirstName"></label>
    <label asp-for="createOrder.Customer.LastName"></label>
    <label asp-for="createOrder.Customer.UserName"></label>

    <!--Table of order items-->


    @foreach (var item in Model.createOrder.Items)
    {


    }

    <input type="submit" value="Save" />
    @* <button>Save</button> *@
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
