@model EditProduct

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit a product</h1>

@* Product! *@

<form asp-action="Edit" asp-route-id="@Model.Id" method="post">

    <label asp-for="CreateProduct.Name"></label>
    <input asp-for="CreateProduct.Name" placeholder="Name" />
    <span asp-validation-for="CreateProduct.Name"></span>

    <label asp-for="CreateProduct.Description"></label>
    <input asp-for="CreateProduct.Description" placeholder="Description" />

    <input type="submit" value="Save" />
    @* <button>Save</button> *@
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
