@model EditProduct

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit a product</h1>

<form asp-action="Edit" asp-route-id="@Model.Id" method="post">

    <input asp-for="CreateProduct.Name" placeholder="Name" />
    <input asp-for="CreateProduct.Description" placeholder="Description" />
    <button>Save</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
